#search-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 30vh;
    padding: 10px;
    border-top: #646a60 solid 1px;
    top: 1px;
    
    @include for-desktops-up {
        width: 400px;
        max-height: 100vh;
        overflow-y: auto;
    }

    .selection-container {
        width: 70%;
        overflow-y: auto;
        max-height: 28vh;
        float: left;
        position: relative;
        padding-right: 5px;
        
        @include for-desktops-up {
            max-height: 100vh;
        }

        .selection-extra-options {
            border-top: #646a60 solid 1px;
            padding-top: 10px;
            margin-top: 10px;

            #services-to-display > div {
                z-index: 9999999;
                position: relative;
            }

            label {
                color: #ffffff;
            }
        }
    }

    .options-container {
        width: 30%;
        float: right;
        padding-left:5px;
        position: relative;

        label {
            color: #ffffff;
        }
    }

    .address-inputs input {
        width: 100%;
        margin-bottom: 5px;
    }
}