#search-results {
    position: relative;
    height: 50vh;
    width: 100%;
    background: #ffffff;
    border-top: #000000 solid 1px;
    overflow-y: auto;

    @include for-desktops-up {
        width: 400px;
        height: 100vh;
        max-height: 100%;
        overflow-y: auto;
    }
}